
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Add course", "AddCourse")</p>

<p>@Html.ActionLink("Manage user roles", "SetRoles")</p>

<p>@Html.ActionLink("Edit courses", "Index", "Home", new { area = "" }, null)</p>
